.back { 
	background: white; 
	color:  #333;
	text-align: center
}

@media (prefers-color-scheme: dark) {
  .back {
	  background:  #333; 
	  color: white;
	}
  .models {
	  border:solid 1px #00ff00;
	}
}

@media (prefers-color-scheme: light) {
  .back {
	  background: white; 
	  color:  #333;
	}
  .models {
	  border:solid 1px #2b85e4;
	}
}
/*在主要内容不足以铺满整个屏幕的情况下，footer居于屏幕低部显示，
使得整个页面占满屏幕。而当主要内容高度大于整个屏幕高度的时候，
footer跟随主要内容进行显示；*/
html,body{
    
    height: 100%;
    margin: 0;
    padding: 0;
}

.page{
    box-sizing: border-box;/*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制*/
    min-height: 100%;
    padding-bottom: 6rem;
}
footer{
    height: 6rem;
    margin-top: -6rem;
    opacity: 1;
    
	  bottom:0px;
    left:0px;
}
/*footer 结束*/
 /**{
    margin: 0;
    padding: 0;
}
html,body{
    height: 30%;
}

container{
   display: flex;
    flex-direction: column;
    height: 100%;

}
*/
header{
	
	margin-top:-8rem;
    width: 70%;
    height: 0.1rem;
    background: #DCDCDC;
	margin-left:15%;
	margin-right:15%;

	}

a:link {   
font-size:1.7rem;
text-decoration: none;   
}   
a:visited {   
font-size:1.7rem;
text-decoration: none;   
}   
a:hover {   
font-size:1.7rem;
text-decoration: none; 
} 

.text-top{
	line-height:1.5;
	text-align:center;
   margin-top:-2rem;
	font-size:1.7rem;
	color:#959595;
	font-weight:bold;
}
.text-footer{
	line-height:1.5;
	text-align:center;
   margin-top:2.8rem;
	font-size:1.4rem;
	color:#959595;
	font-weight:bold;
}

.text-p-left{
	line-height:1.5;
	text-align:left;
	font-size:1.6rem;
	color:#959595;
	
    text-align:left;
}
.text-p-right{
	line-height:1.5;
	text-align:right;
	font-size:1.6rem;
	color:#959595;
	
}

.star:before {
    content: "\2605 我们的征途是星辰大海"
}


