.deng-box {
        position: fixed;
        top: -40px;
        right: -20px;
        z-index: 1999;
      }

      .deng-box1 {
        position: fixed;
        top: -30px;
        right: 30px;
        z-index: 1998;
      }

      .deng-box2 {
        position: fixed;
        top: -40px;
        left: -20px;
        z-index: 1999;
      }

      .deng-box3 {
        position: fixed;
        top: -30px;
        left: 30px;
        z-index: 1998;
      }

      .deng-box1 .deng,
      .deng-box3 .deng {
        position: relative;
        width: 120px;
        height: 90px;
        margin: 50px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.8);
        border-radius: 50% 50%;
        -webkit-transform-origin: 50% -100px;
        -webkit-animation: swing 5s infinite ease-in-out;
        animation: swing 5s infinite ease-in-out;
        box-shadow: -5px 5px 30px 4px rgba(252, 144, 61, 1);
      }
      .deng,
      .deng-box2 .deng {
        position: relative;
        width: 120px;
        height: 90px;
        margin: 50px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.8);
        border-radius: 50% 50%;
        -webkit-transform-origin: 50% -100px;
        -webkit-animation: swing 3s infinite ease-in-out;
        animation: swing 3s infinite ease-in-out;
        box-shadow: -5px 5px 50px 4px rgba(250, 108, 0, 1);
      }

      .deng-a {
        width: 100px;
        height: 90px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.1);
        margin: 12px 8px 8px 10px;
        border-radius: 50% 50%;
        border: 2px solid #dc8f03;
      }

      .deng-b {
        width: 45px;
        height: 90px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.1);
        margin: -4px 8px 8px 26px;
        border-radius: 50% 50%;
        border: 2px solid #dc8f03;
      }

      .xian {
        position: absolute;
        top: -20px;
        left: 60px;
        width: 2px;
        height: 20px;
        background: #dc8f03;
      }

      .shui-a {
        position: relative;
        width: 5px;
        height: 20px;
        margin: -5px 0 0 59px;
        -webkit-animation: swing 4s infinite ease-in-out;
        -webkit-transform-origin: 50% -45px;
        background: #ffa500;
        border-radius: 0 0 5px 5px;
      }

      .shui-b {
        position: absolute;
        top: 14px;
        left: -2px;
        width: 10px;
        height: 10px;
        background: #dc8f03;
        border-radius: 50%;
      }

      .shui-c {
        position: absolute;
        top: 18px;
        left: -2px;
        width: 10px;
        height: 35px;
        background: #ffa500;
        border-radius: 0 0 0 5px;
      }

      .deng:before {
        position: absolute;
        top: -7px;
        left: 29px;
        height: 12px;
        width: 60px;
        content: " ";
        display: block;
        z-index: 1999;
        border-radius: 5px 5px 0 0;
        border: solid 1px #dc8f03;
        background: #ffa500;
        background: linear-gradient(
          to right,
          #dc8f03,
          #ffa500,
          #dc8f03,
          #ffa500,
          #dc8f03
        );
      }

      .deng:after {
        position: absolute;
        bottom: -7px;
        left: 10px;
        height: 12px;
        width: 60px;
        content: " ";
        display: block;
        margin-left: 20px;
        border-radius: 0 0 5px 5px;
        border: solid 1px #dc8f03;
        background: #ffa500;
        background: linear-gradient(
          to right,
          #dc8f03,
          #ffa500,
          #dc8f03,
          #ffa500,
          #dc8f03
        );
      }

      .deng-t {
        font-family: ;
        font-size: 3.2rem;
        color: #dc8f03;
        font-weight: bold;
        line-height: 85px;
        text-align: center;
      }

      .night .deng-t,
      .night .deng-box,
      .night .deng-box1， .night .deng-box2， .night .deng-box3 {
        background: transparent !important;
      }

      @keyframes swing {
        0% {
          transform: rotate(-10deg);
        }
        50% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(-10deg);
        }
      }

      @-moz-keyframes swing {
        0% {
          -moz-transform: rotate(-10deg);
        }
        50% {
          -moz-transform: rotate(10deg);
        }
        100% {
          -moz-transform: rotate(-10deg);
        }
      }

      @-webkit-keyframes swing {
        0% {
          -webkit-transform: rotate(-10deg);
        }
        50% {
          -webkit-transform: rotate(10deg);
        }
        100% {
          -webkit-transform: rotate(-10deg);
        }
      }
/*以上为灯笼*/
.back { 
	background: white; 
	color:  #656565;
	text-align: center
}
@font-face {
	/*font-family: apple;src:url(https://mai.ac.cn/styles/font/apple.ttc);*/			
        font-family: AlimamaShuHeiTi-Bold;					
	src:url(https://mai.ac.cn/styles/font/AlimamaShuHeiTi-Bold.woff2);	
	
}
@media (prefers-color-scheme: dark) {
  .back {
	  background:  #333; 
	  color: #DCDCDC;
	}
  .models {
	  border:solid 1px #00ff00;
	}
    article{
    margin-top: 2.2rem;
    width: 70%;
    height: 0.1rem;
    background: #757575;
    margin-left:15%;
    margin-right:15%;

}
    header{
    margin-top:-5rem;
    width: 70%;
    height: 0.1rem;
    background: #757575;
    margin-left:15%;
    margin-right:15%;
}
    ::selection {
    color:#757575;
    background-color:#FFFFFF;
    text-shadow:none;
}
}

@media (prefers-color-scheme: light) {
  .back {
	  background: white; 
	  color:  #656565;
	}
  .models {
	  border:solid 1px #2b85e4;
	}
    article{
    margin-top: 2.2rem;
    width: 70%;
    height: 0.1rem;
    background: #DCDCDC;
    margin-left:15%;
    margin-right:15%;

}
    header{
    margin-top:-5rem;
    width: 70%;
    height: 0.1rem;
    background: #DCDCDC;
    margin-left:15%;
    margin-right:15%;
}
    ::selection {
    color:#FFFFFF;
    background-color:#757575;
    text-shadow:none;
}
}
/*在主要内容不足以铺满整个屏幕的情况下，footer居于屏幕低部显示，
使得整个页面占满屏幕。而当主要内容高度大于整个屏幕高度的时候，
footer跟随主要内容进行显示；*/
html,body{
    
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: AlimamaShuHeiTi-Bold;
    /*font-family:apple;*/
    
}

.page{
    box-sizing: border-box;/*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制*/
    min-height: 100%;
    padding-bottom: 5rem;
}
footer{
    height: 4rem;
    margin-top: -4rem;
    opacity: 1;
    bottom:0px;
    left:0px;
}
/*footer 结束*/
 /**{
    margin: 0;
    padding: 0;
}
html,body{
    height: 30%;
}

container{
    display: flex;
    flex-direction: column;
    height: 100%;

}
*/
img { 
	-webkit-touch-callout: none;
}
a:link {   
font-size:1.7rem;
text-decoration: none;   
}   
a:visited {   
font-size:1.7rem;
text-decoration: none;   
}   
a:hover {   
font-size:1.7rem;
text-decoration: none; 
color:#959595;
} 

.text-top{
	line-height:1.5;
	text-align:center;
        margin-top: 1.5rem;
	font-size:1.7rem;
	color:#959595;
	font-weight:bold;
}


.text-index{
	line-height:1.5;
	text-align:center;
    margin-top:2.8rem;
    margin-bottom: 4rem;
	font-size:1.4rem;
	color:#959595;
	font-weight:bold;
}
.text-404{
	line-height:1.5;
	text-align:center;
        margin-top:2.8rem;
	margin-bottom:5rem; 
	font-size: 1.8rem;
	color:#959595;
	font-weight:bold;
}

.text-footer{
	line-height:1.5;
	text-align:center;
    margin-top:1.6rem;
	font-size:1.2rem;
	color:#959595;
	font-weight:bold;
}
.text-p{
    width: 70%;
}

.text-p-left{
	line-height:1.5;
	text-align:left;
	font-size:1.6rem;
	color:#959595;
	text-align:left;
}
.text-p-right{
	line-height:1.5;
	text-align:right;
	font-size:1.6rem;
	color:#959595;
    
	
}
.index{
    margin-top: 6rem;
}
.about{
    margin-bottom: 6rem;
}
.star-max:before {
    color:#757575;
    font-size:1.rem;
    content: "\2606";   
}
.star-min:before {
    color:#757575;
    font-size:1rem;
    content: "\2606\2606"
}

.div-logo{
   position: fixed;
   text-align: center;
   left: 0;
   top: 0;
   width: 100%;
   height: 9rem;
   z-index: 10;
   /*border-bottom: 0.1rem solid #656565;
	*/
	
}
.img-logo {
    border-radius: 50%
}
.text-logo {
    text-align: left;
    line-height: 1.5;
   line-height:1.5;
}
.logo {
    width: 4.5rem;
    height: 4.5rem;
}







@media (max-width: 767px) { 
.contain{
    width:100%; 
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.outside{
    position: fixed;
    text-align:center;
    width:100%; 
     height: 9.5rem; 
    padding:2%;
    overflow:hidden;
    
    align-items: center;
   
   
}

.divright{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    
}
.divright:hover{
    border-bottom:0.2rem solid #757575;
}
.divsm{
    padding:1rem;
    float:left;
    width:0%;
    font-weight:bolder;
    
}    
.divsm:hover{
    border-bottom:0.2rem solid #757575;
}
.h4pages{
    margin-top: 5rem;
    font-weight:bolder;
    }
    
.divhome{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}

.divarchives{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
} 
.divtags{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divlinks{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}

   
}


@media (min-width: 768px) { 
.contain{
    width:100%; 
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.outside{
    position: fixed;
    text-align:center;
    width:100%; 
     height: 10rem; 
    padding:1%;
    overflow:hidden;
    display: flex;
    align-items: center;
   
}
.divleft{
    margin-right:auto;
    padding:1rem;
    float:left;
    width:10rem;
}
.divright{
    
    padding:1rem;
    float:right;
    width:20%;
    font-weight:bolder;
    
}
.divright:hover{
    border-bottom:0.2rem solid #757575;
}

.divsm{
    
    padding:1rem;
    float:right;
    width:20%;
    font-weight:bolder;
}
.divsm:hover{
    border-bottom:0.2rem solid #757575;
}
.h4pages{
    font-weight:bolder;
    }
}

.divhome{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divarchives{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divtags{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divlinks{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divabout{
    padding:1rem;
    float:left;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
   
.divdisclaimer{
    padding:1rem;
    float:right;
    width:20%;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
    }
    

} 






@media (min-width: 992px) { 
.contain{
    width:100%; 
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.outside{
    position: fixed;
    text-align:center;
    width:100%; 
     height: 10rem; 
    padding:1%;
    overflow:hidden;
    display: flex;
    align-items: center;
   
}

.divleft{
    margin-right:auto;
    padding:1rem;
    float:left;
    width:10rem;
}
    

    
.divright{
    
    padding:1rem;
    float:right;
    width:6rem;
    font-weight:bolder;
    
    
}
.divright:hover{
    border-bottom:0.2rem solid #757575;
}

.divsm{
    
    padding:1rem;
    float:right;
    width:10rem;
    font-weight:bolder;
    
}
.divsm:hover{
    border-bottom:0.2rem solid #757575;
}
.h4pages{
    font-weight:bolder;
    }

    
.divhome{
    padding:1rem;
    float:right;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
    
}
.divarchives{
    
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divtags{
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divlinks{
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divabout{
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divdisclaimer{
    padding:1rem;
    float:right;
    width:10rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
    }
    
} 





@media (min-width: 1200px) {
.contain{
    width:100%; 
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.outside{
    position: fixed;
    text-align:center;
    width:100%; 
     height: 10rem; 
    padding:1%;
    overflow:hidden;
    display: flex;
    align-items: center;
   
}

.divleft{
    margin-right:auto;
    padding:1rem;
    float:left;
    width:10rem;
}
/*.divleft:hover{
    border-bottom:0.2rem solid #959595;
}*/


.divright{
    
    padding:1rem;
    float:right;
    width:6rem;
    font-weight:bolder;
    
}
.divright:hover{
    border-bottom:0.2rem solid #757575;
}

.divsm{
    
    padding:1rem;
    float:right;
    width:10rem;
    font-weight:bolder;
    
}
.divsm:hover{
    border-bottom:0.2rem solid #757575;
}
.h4pages{
    font-weight:bolder;
    }
    
.divhome{
    
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divarchives{
    
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divtags{
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divlinks{
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divabout{
    padding:1rem;
    float:left;
    width:6rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
}
.divdisclaimer{
    padding:1rem;
    float:right;
    width:10rem;
    font-weight:bolder;
    border-top:0.2rem solid #757575;
    }


} 
.bgImg{
    background: url(https://mai.ac.cn/styles/img/EarthEngine.jpg) no-repeat;
    height: 100%; 
    width: 100%; 
    position: fixed;
    background-size: 100% 100%;
}
